body{
	font-family: 'Century Gothic';
}
.header{
	border: 2px solid #000000;
	text-align: center;
}
.subtitle{
	border: 2px solid #000000;
	text-align:center;	
}

.title{
	border: 2px solid #000000;
	display: inline-block;
}
/*.timeperiod{
	border: 2px solid #000000;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right:8px;
}*/

.timeperiod{
	width:auto;
	float:right;
}
.content{
	border:2px solid #000000;
}

.skill{
	border:2px solid #000000;
	display: inline-block;
}

.skills{
	border:2px solid #000000;
	display: inline-block;
	vertical-align: top;
	position: absolute;
}
.displayed {
	width: 400px;
}

.navbar-header img {
	width: 50px;
	height: 50px;
	display: inline-block;
}